.blog-header {
	display: flex;
	align-items: baseline;
	margin-top: 20px;
	margin-bottom: -5px;
}

.blog-header h2 {
	margin-bottom: 0;
}

.blog-body h3 {
	border-top: 2px solid rgb(32, 32, 32);
	max-width: 750px;
	padding-top: 10px;
	margin-top: 75px;
}

.blog-body h5 img {
	display: block;
}

.blog-body p {
	max-width: 750px;
}

.blog-body a:hover {
	text-decoration: underline;
}

.blog-body pre code {
	max-width: 850px;
	border-radius: 2px;
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	font-weight: 400;
	font-size: 16px;
	margin: 40px 0;
	overflow: auto;
	padding: 20px;
}

.blog-body ul li {
	max-width: calc(850px - 5%);
}

.blog-footer {
	display: flex;
	justify-content: space-between;
}

.next-post {
	width: 45%;
}

.next-post a h3:hover {
	text-decoration: underline;
}

.last-post {
	width: 45%;
}

.last-post a h3:hover {
	text-decoration: underline;
}

.hljs {
	background: #f5f2f0 !important;
}
