#footer-social-list {
	list-style: none;
	padding-left: 0;
}

#footer-social-list li a {
	font-size: 17px;
}

.footer-row {
	display: flex;
	justify-content: space-between;
}

#footer-left {
	width: 75%;
}

.social {
	margin: 15px 0;
}

#footer-right {
	width: 25%;
}

#footer-face {
	max-width: 85%;
	float: right;
	margin-top: 1em;
}

@media (max-width: 640px) {
	.footer-row {
		display: block;
	}

	#footer-left {
		width: 100%;
	}

	#footer-right {
		width: 100%;
	}

	#footer-face {
		float: left;
		max-width: 60%;
		padding-bottom: 20px;
	}
}
