.date {
  margin: 0;
  color: #6a6a6a;
  letter-spacing: 1px;
}

.single-entry-header {
  display: flex;
  align-items: baseline;
  margin-bottom: -6px;
}

.single-entry-header h3 {
  margin-bottom: 0;
}

.single-entry-header p {
  padding-left: 20px;
  color: #467bcc;
  margin-bottom: 0;
}

.snippet {
  font-family: "Source Serif Pro", "EB Garamond", "Lora", serif;
  text-decoration: none;
  margin-top: 5px;
}
