.Container {
	max-width: 960px;
	margin: 0px auto;
	padding-left: 40px;
	padding-right: 40px;
}

.Container section ul li {
	font-weight: 400;
}

.SubHeader {
	font-weight: 300;
	font-size: 18px;
}

.app-button {
	width: 25%;
	text-align: center;
	padding: 10px;
	background-color: #fff;
	border: 2px solid #202020;
	color: #202020;
	font-weight: 600;
	line-height: 1;
	padding: 14px 30px;
	text-decoration: none;
	-webkit-transition: background-color 0.1s, color 0.1s;
	transition: background-color 0.1s, color 0.1s;
	margin: 10px 10px 10px 0;
	display: inline-block;
	outline: none;
}

.app-button:hover {
	background-color: #202020;
	color: white;
	cursor: pointer;
	border-color: #202020;
	text-decoration: none;
}

.about-columns {
	display: flex;
	-webkit-margin-before: 1em;
}

.about-columns p {
	width: 50%;
	padding-right: 20px;
	-webkit-margin-before: 0;
}

#contents {
	display: flex;
}

.contents-col {
	width: 33%;
}

.contents-col ul {
	padding-left: 0;
}

.contents-col ul li {
	list-style-type: none;
}

.contents-col ul li a {
	color: #202020;
}

.contents-col a:hover {
	text-decoration: underline;
}

@media (max-width: 640px) {
	.about {
		width: 100%;
	}

	.about-columns {
		display: block;
	}

	.about-columns p {
		width: 100%;
	}

	.app-button {
		width: 80%;
		display: block;
	}

	#contents {
		flex-direction: column;
	}

	.contents-col {
		width: 100%;
	}
}
