.Container {
	max-width: 960px;
	margin: 0px auto;
	padding-left: 40px;
	padding-right: 40px;
}

.SubHeader {
	font-weight: 300;
	font-size: 18px;
}

.app-button {
	width: 25%;
	text-align: center;
	padding: 10px;
	background-color: #fff;
	border: 2px solid #202020;
	color: #202020;
	font-weight: 600;
	line-height: 1;
	padding: 14px 30px;
	text-decoration: none;
	-webkit-transition: background-color 0.1s, color 0.1s;
	transition: background-color 0.1s, color 0.1s;
	margin: 10px 10px 10px 0;
	display: inline-block;
	outline: none;
}

.app-button:hover {
	background-color: #202020;
	color: white;
	cursor: pointer;
	border-color: #202020;
}

.about-columns {
	display: flex;
}

.about-columns p {
	width: 50%;
	padding-right: 20px;
}

section ul li {
	font-weight: 400;
}

#linkedin:hover {
	background-color: #0077b5;
	border-color: #0077b5;
}

#researchgate:hover {
	background-color: #0cb;
	border-color: #0cb;
}

#github:hover {
	background-color: #7bc96f;
	border-color: #7bc96f;
}

@media (max-width: 640px) {
	.about {
		width: 100%;
	}

	.app-button {
		width: 80%;
		display: block;
	}

	.about-columns {
		display: block;
	}

	.about-columns p {
		width: 100%;
	}
}
